
@font-face {
  font-family: "Sans-Pro";
  src: url("/src/assets/font/sans-pro-regular.ttf");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Sans-Pro";
  src: url("/src/assets/font/sans-pro-bold.ttf");

  font-style: normal;
  font-weight: 700;
}
