$no_info_color:#d3d3d3;
$good_color: #68A691;
$moderate_color: #F7FD04;
$unhealthy_fSG_color: #FF785A;
$unhealthy_color: #9B2915;
$very_unhealthy_color: #550527;
$hazardous_color: #2F0A28;

$bg-dark: #568D8A;
$bg-light: #8FBFCD;
$btn-color: #F55B5B;
$bg-gray: #DDD5C2;


$primary-color:#000;
$font-color-dark: #282828;
$font-color-light: #f0f0f0;



.dark-font{
  color: $font-color-dark;
}

.white-font{
  color: $font-color-light
}



