@import "other/palette";
@import "other/fonts";
@import "other/separator";

@import "other/footer";
@import "other/scrollbar";

@import "other/animation";
@import "other/card";
@import "details";
@import "search";
@import "home";
@import "map";



body{
  font-family: sans-serif;

  background-color: $bg-light;
}

html, body {
  margin:0;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation-details{
  height: 32px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;

  img{
    height: 32px;
    margin: 10px 0 0 10px;
  }
}